@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@100;200&display=swap');

.home-cont {
    margin-bottom:0rem;
	margin-left: 0rem;
    margin-top: -0.5rem;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),  url(../images/home-bg2.jpg);
	height: 110vh;
	background-size: cover;
	background-position: 50% 80%;
	background-repeat:no-repeat;
	justify-content:center;
	text-align:center;
	font-weight:bold;
	z-index:2;
}

.btn
{
	padding: 1rem 1rem;
	color: white;
	text-decoration:none;
	font-size: 1.3rem;
	text-transform:uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width:12rem;
    height: 4rem;
	position:absolute;
    margin-left:  28%;
    margin-top: 25%;
	
}

.btn-start
{
	padding: 1rem 1rem;
	color: white;
	text-decoration:none;
	font-size: 1.3rem;
	text-transform:uppercase;
	display: flex;
	justify-content: center;
	align-items: center;
	width:12rem;
    height: 4rem;
	position:absolute;
    margin-left:  38%;
    margin-top: 20%;
	
}

.question {
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    color: white;
	text-transform: uppercase;
	font-size: 3rem;
	position:absolute;
	top: 40%;
	left: 20%;
	justify-content:center;
}


